<html>
  <head>
    <title> Image: <%= @images[index][:title]%> </title>
  </head>
  <body>
    <h1> Image: <%= @images[index][:title]%></h1>

    <p> <img src="<%= @images[index][:url] %>" /></p>
  </body>
</html>
